[submodule "tests/corpus/chibi-scheme"]
	path = tests/corpus/chibi-scheme
	url = https://github.com/ashinn/chibi-scheme
[submodule "tests/corpus/clojure"]
	path = tests/corpus/clojure
	url = https://github.com/clojure/clojure
[submodule "tests/corpus/cl-ppcre"]
	path = tests/corpus/cl-ppcre
	url = https://github.com/edicl/cl-ppcre
[submodule "tests/corpus/lem"]
	path = tests/corpus/lem
	url = https://github.com/lem-project/lem
[submodule "tests/corpus/magit"]
	path = tests/corpus/magit
	url = https://github.com/magit/magit
[submodule "tests/corpus/typed-racket"]
	path = tests/corpus/typed-racket
	url = https://github.com/racket/typed-racket
[submodule "tests/corpus/gauche"]
	path = tests/corpus/gauche
	url = https://github.com/shirok/Gauche
[submodule "tests/corpus/phel-lang"]
	path = tests/corpus/phel-lang
	url = https://github.com/phel-lang/phel-lang
[submodule "tests/corpus/janet"]
	path = tests/corpus/janet
	url = https://github.com/janet-lang/janet
[submodule "tests/corpus/hy"]
	path = tests/corpus/hy
	url = https://github.com/hylang/hy
[submodule "tests/corpus/fennel"]
	path = tests/corpus/fennel
	url = https://github.com/bakpakin/fennel
[submodule "tests/corpus/lfe"]
	path = tests/corpus/lfe
	url = https://github.com/lfe/lfe
[submodule "tests/corpus/eisl"]
	path = tests/corpus/eisl
	url = https://github.com/sasagawa888/eisl
